@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

/*CSS RESET*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/*DEFAULT*/

:root {
  --font-primary: "Poppins", sans-serif "Montserrat", sans-serif;
  --font-secondary: "Montserrat", sans-serif;
  --color-primary: #816095; 
  --color-secondary: #4e8f8f;
  --color-default: #FFD2CC ;


}

:root {
  scroll-behavior: smooth;
}


/*BACKGROUND DESIGN*/
body{
background: #FAF9F6;
background: linear-gradient(90deg, rgba(248,217,212,1) 0%, rgba(229,192,252,1) 50%, rgba(153,217,217,1) 100%);
font-family: "Poppins", sans-serif;
}


.glass{
  margin: auto;
  background: rgba( 255, 255, 255, 0.25 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 4.5px );
  -webkit-backdrop-filter: blur( 1px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
}


.pink{
  color:#FFD2CC;
}

.green{
  color: var(--color-secondary);
}

/*NAVIGATION BAR*/ 


#header {
  margin-top:3;
  transition: ease-in-out 0.5s;
}


ul {
  height: 100%;
  align-items: center;
  justify-content: space-around;
  text-decoration: none;
}


.navbar .navbar-nav .nav-link {
    text-decoration: none;
    font-weight: 700;
    color: white;
    transition: all 0.3s ease-in-out;
}

.navbar .navbar-nav .nav-link:hover {
    font-weight: 600;
    color:var(--color-primary);
    transition: all 0.3s ease-in-out;
}

.nav-item{
  display: inline-block;
  position: relative;
  text-decoration: none;
}

.nav-item:hover{
    color: white;
}

.nav-hover:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #8861C6;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.nav-hover:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}



/*HOME*/


.bg{
  background-image: url(./images/bg.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;

}

.home h1{
    position: relative !important;
    font-weight: 700;
    font-size: 70px;
    color:transparent;
    -webkit-text-stroke: 0.3vw var(--color-primary);
    -webkit-text-stroke-width: 3px;

  }

.home h1::before {
    content: attr(data-text);
    position: absolute;
    top: 0;
    Left: 0;
    width: 0;
    height: 100%;
    color:#F8D9D4;
    -webkit-text-stroke: 0vw var(--color-primary);
    -webkit-text-stroke-width: 3px;
    border-right: 2px var(--color-primary);
    overflow: hidden;
    animation:animate 7s linear infinite;
  }

@keyframes animate
{
  0%,10%,100%
  {width: 0;}
  70%,90%,0%
  {width: 50%;}
}

.home .btn-get-connected {
  text-decoration: none;
  letter-spacing: 1px;
  color: var(--color-primary);
  font-weight: 700px;
  background: white;
  border-radius: 50px;
  margin-bottom: 30px;
  margin-top: 5px;
  /*text-shadow: 0 0 0.125em #816095, 
               0 0 0.45em  #816095;
/*  box-shadow: inset 0 0 0.5em 0 #816095, 
                 0 0 0.5em 0 #816095;*/
  border-width: 4px solid;
}


.btn-get-connected: hover{
  background: transparent;
}


.green{
  color: #99D9D9 ;
}




/**/
/*MESSAGE SECTION*/

.message{
  background-color: #8757A4;
}

.message h3{
  font-size: 25px;
}

.message h3::after {
  content: "";
  width: 120px;
  height: 5px;
  display: inline-block;
  background: var(--color-default);
  margin: 4px 10px;

}


.message h2{
  font-weight: 700; 
  font-size: 25px;
}


.about h2::after {
  content: "";
  width: 120px;
  height: 5px;
  display: inline-block;
  background: var(--color-default);
  margin: 4px 10px;
}



.message h1{
    font-weight: 700;
    font-size: 55px;
}


.message h4{
    font-size: 30px;
    font-family: var(--font-secondary);
}


#message{
  text-align: justify;
/*  margin-right: 80px;
  margin-left: 80px;*/
}

#btn-learn-more {
  text-decoration: none;
  letter-spacing: 1px;
  color: var(--color-primary);
  border-radius: 50px;
  margin-bottom: 70px;
  margin-top: 2px;
 background:var(--color-default);
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 4.5px );
  -webkit-backdrop-filter: blur( 1px );
  border: 1px solid rgba( 255, 255, 255, 0.18 );
}




/*ABOUT ME SECTION*/

.about{
  background-image: url(./images/bg2.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background color: #FAF9F6;

}

.about h2{
  margin-top: 50px;
  font-weight: 700; 
  font-size: 25px;
}


.about h2::after {
  content: "";
  width: 120px;
  height: 5px;
  display: inline-block;
  background: var(--color-default);
  margin: 4px 10px;
}


.about img{
    margin-top: 50px;
}

#description{
  text-align: justify;
}

#btn-learn-more {
  text-decoration: none;
  letter-spacing: 1px;
  color: var(--color-primary);
  border-radius: 50px;
  margin-bottom: 70px;
  margin-top: 2px;
 background:var(--color-default);
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 4.5px );
  -webkit-backdrop-filter: blur( 1px );
  border: 1px solid rgba( 255, 255, 255, 0.18 );
}


/*SERVICES SECTION*/

.tagcloud {
  display: inline-block;
/*  top: 100px;*/
/*  left: 32%;*/
  font-weight: bold;
  letter-spacing: 1px;
/*  font-family: 'Bebas Neue', cursive;*/
  font-size: 20px;
}

/* Change color of each text in sphere on hover   */
.tagcloud--item:hover {
  color: var(--color-secondary) ;
}


.services{
/*  background-color: #FAF9F6;*/
/*  background-image: url(./images/bg4.png);*/
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.services h5{
  font-size: 25px;
  color: var(--color-secondary);
}

.services h4::after {
  content: "";
  width: 120px;
  height: 5px;
  display: inline-block;
  background: var(--color-default);
  margin: 4px 10px;

}

.services p{
  text-align: justify;
  font-size: 15px;

}

.services i{
  color: var(--color-secondary);
  font-size: 125px;
  width: 125px;
  height: 125px;
}


.services .item{
  color: var(--color-primary);
}


.services .btn-see-more{
    text-decoration: none;
  letter-spacing: 1px;
  color: white;
  border-radius: 50px;
  margin-bottom: 25px;
  margin-top: 2px;
  text-shadow: 0 0 0.125em #816095, 
               0 0 0.45em  #816095;
  border-width: 50rem;
  border-color:#816095 ;
  background: #816095;
}


/*PORTFOLIO SECTION*/
.portfolio{
    justify-content: center;
    align-items: center;
}

.wrapper{
    width: 80%;
    padding: 20px 0;
    text-align: center;
}
.portfolio .section-header{
    text-transform: uppercase;
    line-height: 70px;
    padding-bottom: 30px;
    font-size: 50px;
    letter-spacing: 2px;
    
}
.content {
  padding: 10%;
}
.content h2 {
  font-size: 30px;
  text-transform: uppercase;
  margin-bottom: 15px;
  color: #83BABA;
}

#port1{
  font-size: 50px !important;
}


.main-content{
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-main-content-gap: 25px;
  grid-column-gap: 20px;
  padding-right: 35px;
  right: 10px;



}
.main-content .box{
  position: relative;
  cursor: pointer;
  margin-bottom: 15px;
  box-shadow: 15px 15px 40px rgba(0, 0, 0, 0.15);
  height: 250px;
  overflow: hidden;
  webkit-backdrop-filter: blur( 1px );
  border-radius: 15px; 
  background: transparent;  
}
.main-content .box::before{
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 5px;
  height: 100%;
  transition: all 0.3s ease-in-out;
}

.main-content .box:hover:before{
  top: 0;
  right: calc(100% - 5px);
  z-index: 10;
}

.main-content .box img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.main-content .box .img-text {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #EDC8EF;
  width: 100%;
  height: 100%;
  top: 0;
  right: 100%;
  transition: all 0.5s ease-in-out; 
}
.main-content .box:hover .img-text{
    top: 0;
    right: 0;
}


/*CONTACT FORM & SOCIAL SECTIONS*/

.contact .social-icon{
  text-decoration: none;
  color: #816095;
}



.contact .social-container {
  padding: 10px;
  border-radius: 10px;
}

.contact .social-link{
  width: 100%;
  margin-bottom: 25px;
  padding: 20px;
  border-radius: 10px;
}

/*.contact .social-link:last-child {
  margin-bottom: 0;
}
*/
.contact .social-link i {
  font-size: 20px;
  float: left;
  width: 46px;
  height: 46px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease-in-out;
  margin-right: 30px;
}


.contact .social-link h4 {
  padding: 0;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 5px;
  text-align: center;
}

.contact .social-link p {
  padding: 0;
  margin-bottom: 0;
}


.contact .contact-form {
  width: 100%;
  height: 100%;
  background: rgba( 255, 255, 255, 0.25 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 4.5px );
  box-shadow: 0px 2px 25px rgba(0, 0, 0, 0.1);
  padding: 30px;
  border-radius:15px;

}

.contact .contact-form input,
.contact .contact-form textarea
.contact .contact-form select
 {
  border-radius: 0;
  box-shadow: none;
}

.contact .contact-form input[type=text],
.contact .contact-form input[type=contact_no]
.contact .contact-form select[type=option],
.contact .contact-form textarea {
  padding: 12px 15px;
}

.contact .contact-form input[type=text]:focus,
.contact .contact-form input[type=contact_no]:focus,
.contact .contact-form  textarea:focus {
  border-color: #816095;
}

.contact .contact-form textarea {
  padding: 10px 12px;
}

.contact .contact-form button[type=submit] {
  margin-top: 12px;
  background:#816095;
  border: 0;
  padding: 18px 45px;
  color: #fff;
  transition: 0.4s;
  border-radius: 50px;
}

.contact .contact-form button[type=submit]:hover {
  background: white;
  color: #816095;
  border-color: #816095;
  border-width: 2px;
}














/*HAMBURGER ICON*/

#hamburger-icon {
  margin: 15px 15px;
  display: none;
  cursor: pointer;


}

#hamburger-icon div {
  width: 35px;
  height: 3px;
  background-color: var(--color-primary);
  margin: 9px 0;
  transition: 0.4s;
}

.open .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 9px);
  transform: rotate(-45deg) translate(-9px, 9px);
}

.open .bar2 {
  opacity: 0;
}

.open .bar3 {
  -webkit-transform: rotate(45deg) translate(-7px, -9px);
  transform: rotate(45deg) translate(-7px, -9px);
}

.open .mobile-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  color: red;
}

.mobile-menu {
  display: none;
  position: absolute;
  top: 100px;
  left: 1;
  height: calc(100vh - 100px);
  width: 100%;
  background: rgba(255, 255, 255, 1);
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.15);
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(100px);
  border-radius: 0px;
  z-index:999;
}

.mobile-menu li {
  margin-bottom: 10px;
  margin-top: 15px;
  z-index:5;
}

@media only screen and (max-width: 768px) {
  header nav {
    display: none;
  }

  #hamburger-icon {
    display: block;
  }
}

@media only screen and (max-width: 994px) {
  header nav {
    display: none ;

  }

  #hamburger-icon {
    display: block;
  }
}


/*HOME MENU*/



































































/*<-----OTHER ANIMATIONS-------->*/

/*NIGHTMODE TOGGLE BUTTON*/
label {
  width:47px;
  height:22px;
  top: 26px;
  bottom: 5px;
  position: relative;
  display: inline-block;
  background: #ebebeb;
  border-radius: 200px;
  box-shadow: inset 0px 5px 15px rgba(0,0,0,0.4), inset 0px -5px 15px rgba(255,255,255,0.4);
  cursor: pointer;
}

label:after {
  content: "";
  display: inline-block;
  width:21px;
  height: 21px;
  position: relative;
  top:0px;
  left:0px;
  background: linear-gradient(180deg,lightgray,lightgray);
  border-radius: 180px;
  box-shadow: 0px 5px 10px rgba(0,0,0,0.2);
}
.night_mode {
  width: 0;
  height: 0;
  visibility: hidden;
}

input:checked + label {
  background: #242424;
}
input:checked + label:after {
  left:4px;
  transform: translateX(100%);
  background: linear-gradient(180deg,#777,#3a3a3a);
}
label, label:after {
  transition: 0.3s
}

label:active:after{ 
  width: 4px; 
}

.background {

  background: #fff;
  z-index: -1;
  position: absolute;
  transition: 0.3s;
}

input:checked + label + .background {
  background:#242424;
}

label svg {
  position: absolute;
  width: 15px;
  top:5px;
  left: 4px;
  z-index: 1;
}
label svg.sun {
  left:3px;
  top: 3px;
  fill:#fff;
  transition: 0.3s;
}
label svg.moon {
  left:30px;
  top: 3px;
  fill:#7e7e7e;
  transition: 0.3s;
}
input:checked + label svg.sun {
  fill:#7e7e7e;
}
input:checked + label svg.moon {
  fill:#fff;
}

body.night{
    background: #000;
    color: #fff;
        }
.dark-mode {
  background-color: black;
  color: white;
}

/*HAMBURGER ICON*/

#hamburger-icon {
  margin: 15px 15px;
  display: none;
  cursor: pointer;
}

#hamburger-icon div {
  width: 35px;
  height: 3px;
  background-color: white;
  margin: 9px 0;
  transition: 0.4s;
}

.open .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 9px);
  transform: rotate(-45deg) translate(-9px, 9px);
}

.open .bar2 {
  opacity: 0;
}

.open .bar3 {
  -webkit-transform: rotate(45deg) translate(-7px, -9px);
  transform: rotate(45deg) translate(-7px, -9px);
}

.open .mobile-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.mobile-menu {
  display: none;
  position: absolute;
  top: 100px;
  left: 1;
  height: calc(100vh - 100px);
  width: 100%;
  background: rgba(255, 255, 255, 1);
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.15);
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(100px);
  border-radius: 0px;
  z-index:999;
}

.mobile-menu li {
  margin-bottom: 10px;
  margin-top: 15px;
  z-index:5;
}

@media only screen and (max-width: 768px) {
  header nav {
    display: none;
  }

  #hamburger-icon {
    display: block;
  }
}

@media only screen and (max-width: 994px) {
  header nav {
    display: none ;

  }

  #hamburger-icon {
    display: block;
  }
}


/*SCROLL BAR*/

html::-webkit-scrollbar {
      width: 1.1vh;
    }

html::-webkit-scrollbar-thumb {
      background-color: #FFD3CD;
    }

html::-webkit-scrollbar-thumb:hover {
      background-color: #9ADADA;
    }

html::-webkit-scrollbar-track {
      background-color: transparent;
    }

html::-webkit-scrollbar-track:hover {
      background-color: transparent;
    }



/*CURSOR*/
.cursor {
    width: 40px;
    height: 50px;
    border: 3px solid white;
    border-radius: 50%;
    position: absolute;
    transition-duration: 200ms;
    transition-timing-function: ease-out;
    animation: cursorAnim .5s infinite alternate;
    pointer-events: none;
    z-index: 9999;
}

.cursor::after {
    content: "";
    width: 20px;
    height: 20px;
    position: absolute;
    border: 8px solid gray;
    border-radius: 50%;
    opacity: .5;
    top: -8px;
    left: -8px;
    animation: cursorAnim2 .5s infinite alternate;
}

@keyframes cursorAnim {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(.7);
    }
}

@keyframes cursorAnim2 {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(.4);
    }
}

@keyframes cursorAnim3 {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(3);
    }
    100% {
        transform: scale(1);
        opacity: 0;
    }
}

.expand {
    animation: cursorAnim3 .5s forwards;
    border: 1px whitesmoke;
}
